* {
  font-family: "Montserrat";
}

.menu {
  font-weight: 600;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  color: white;
}

h1:hover {
  text-decoration: none;
}

.addSet {
  color: #0087ff;
}

.addSet:hover {
  color: #0075c1;
  cursor: pointer;
}

.dlt {
  color: #ff4b37;
}

.dlt:hover {
  color: #c41500;
  cursor: pointer;
}

#edit {
  color: #30d839;
}

#edit:hover {
  color: #008006;
  cursor: pointer;
}

#dropdown {
  color: #6644f0;
}

#dropdown:hover {
  color: #6644f0;
  cursor: pointer;
}

#logout {
  color: #6644f0;
}

#logout:hover {
  color: #6644f0;
  cursor: pointer;
}

.current {
  background: #2f2f2f;
}

.home-current {
  color: black !important;
  text-decoration: none !important;
}

.home-title {
  color: gray !important;
  text-decoration: none !important;
}

.noback {
  border-radius: 20rem !important;
  font-size: 1rem !important;
  padding-left: 1.5rem !important;
}
